@import './styles/variables.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $color;
  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $accent;
  font-size: 1.25rem;
  line-height: 1.25rem;
  transition: 0.3s ease-in-out all;

  &:hover, &:focus {
    color: $color;
  }

  &:active {
    color: $accent;
  }

  &:visited {
    color: $accent;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-block: 0;
}

select,
button {
  background: $color;
  color: $background;
  border: 2px solid $background;
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  &:hover {
    background: $accent;
    border-color: $accent;
    color: $color;
  }

  &:active {
    background: $background;
    border-color: $background;
    color: $color;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
